{% extends "../layouts/adminLayout.njk" %} {% block content %}
<main class="container">
  <article>
    <header>
      <h1>Admin Dashboard</h1>
    </header>

    <div class="flex justify">
      <h2>Blog Entries</h2>
      <a href="/admin/create" role="button">Add New Post</a>
    </div>

    {% if posts and posts.length > 0 %}
    <table class="mt-4">
      <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.title }}</td>
          <td>
            <div class="flex gap">
              <a href="/admin/edit/{{ post.id }}" role="button" class="primary"
                >Edit</a
              >

              <form action="/admin/delete/{{ post.id }}" method="POST">
                <button class="secondary">Delete</button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No Blog Entries to show</p>
    {% endif %}
  </article>
</main>

{% endblock %}
